html
    head
        title= word
        link(rel='stylesheet', href='/build/styles.css')
    body
        div(class='text-center')
            div(id='hidden-word', class='hidden inline-block-display')= word
            div(id='word', class='hidden inline-block-display js-unhide-after-init')= word
            ul
                each definition in definitions
                    li(class='definition hidden js-unhide-after-init')= definition.definition
        script(src='/build/bundle.js')
