include ./mixins/linkifier.pug
include ./mixins/header-links.pug

html
    head
        title= word + ' | reallybigdictionary'
        headerLinks
    body
        main(class='content')
            div(class='text-center')
                p
                    +linkifier('Sorry, a definition could not be found for '+ word)
        footer(class='text-center')
            +linkifier('made by')
            a(href='http://alexbainter.com')= 'alex bainter'
        script(src='/build/bundle.js')
