extends layout.pug
include ./mixins/linkifier.pug

block variables
    title = 'Not Found'

block content
    div(class='text-center')
        p
            +linkifier('Sorry, a definition could not be found for '+ word)
