extends layout.pug

block variables
    - const title = 'Too Many Requests'

block content
    div(class='text-center')
        p The site is currently receiving too many requests. Please try again later.
