$partsOfSpeech: (
    noun: blue,
    pronoun: purple,
    verb: orange,
    adjective: green,
    adverb: red,
    preposition: pink,
    conjuction: yellow,
    interjection: violet
);

@mixin text-colors($className) {
    @each $partOfSpeech, $color in $partsOfSpeech {
        #{$className + '--' + $partOfSpeech} {
            color: $color;
        }
    }
}
