@import '_parts-of-speech.scss';

body {
    font-family: 'Halant', serif;
}

.inline-block-display {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

.definitions-list {
    width: 80%;
    margin: auto;
    font-size: 1.25rem;
}

.definition {
    padding-top: 1rem;
    overflow: auto;

    &__part {
        width: 15%;
        display: inline-block;
    }

    @include parts-of-speech(#{&}__part);

    &__text {
        width: 85%;
        float: right;
    }
}

.max-half-height {
    max-height: 50%;
}

.pronunciation {
    margin: 1rem 0;
    font-size: 1.25rem;
    color: #999;
}

#word {
    line-height: 1;
}

@media screen and (max-width: 700px) {
    .definitions-list {
        width: 95%;
    }

    .definition {
        &__part {
            width: 35%;
        }
        &__text {
            width: 65%;
        }
    }
}
